body {
    background-color: black
}
#header {
    color:aliceblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    font-size: 50px;
    border-radius: 10px;
    border-right: 250px;
    border-left:225px;
    border-style:dotted;
    position: relative;
    left: 50px;
}
#definition{
    font-family:'Segoe UI', 'Tahoma', 'Times New Roman', serif;
    color:aliceblue;
    position: relative;
    left: 70px;
    font-style: italic;
    font-size: 24px;
}
#definitionTitle{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    font-size: 40px;
    color:aliceblue;
    border-width: 10px;
    border-left: 20px;
    border-right: 20px;
    border-style: dotted;
    position: absolute;
    left: 70px;
}
#historyTitle{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    border-width: 10px;
    border-left: 20px;
    border-right: 20px;
    border-style: dotted;
    position: absolute;
    font-size: 40px;
    left: 1100px;
    color: aliceblue;
}
#history{
    font-family:'Segoe UI', 'Tahoma', 'Times New Roman', serif;
    position: relative;
    left: 70px;
    font-style: italic;
    font-size:23px;
    color: aliceblue;
}
#cinemaPerson{
    position: relative;
    left: 300px;
    margin-top: 33px;
    width: 980px;
    height: 67px;
}
#cinemaPerson2{
    position: relative;
    left: 70px;
    margin-top: 33px;
    width: 1010px;
    height: 67px;
}
#syntaxTitle{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    font-size: 40px;
    color:aliceblue;
    border-width: 10px;
    border-left: 20px;
    border-right: 20px;
    border-style: dotted;
    position: absolute;
    left: 70px;   
}
#syntax{
    font-family:'Segoe UI', 'Tahoma', 'Times New Roman', serif;
    position: relative;
    left: 70px;
    font-style: italic;
    font-size:22px;
    color: aliceblue;
}
#cinemaPerson3{
    position: relative;
    left: 235px;
    margin-top: 33px;
    width: 1040px;
    height: 67px;
}
#cinemaPerson4{
    position: relative;
    left: 70px;
    margin-bottom: 100px;
    width: 1180px;
    height: 507px;
}
#basicFunctionalities{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    font-size: 47px;
    position: relative;
    left:65px;
    margin-top: 50px;
    color:aliceblue;
}
#textFunction{
    text-decoration: underline;
    font-family:'Segoe UI', 'Tahoma', 'Times New Roman', serif;
    position: relative;
    left: 98px;
    font-style: italic;
    font-size:22px;
    color: aliceblue;
}
#textTitle{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    font-size: 40px;
    color:aliceblue;
    border-width: 10px;
    border-left: 20px;
    border-right: 20px;
    border-style:inset;
    position: absolute;
    left: 70px;
}
#textExamples{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    left: 60px;
    font-style: italic;
    font-size:22px;
    color: aliceblue;
}
#textExtraFunction{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    left: 60px;
    font-style: italic;
    font-size:22px;
    color: aliceblue;
}
#textImage{
    position:relative;
    left: 250px;
    top: 55px;
    width: 1030px;
    height: 65px;
}
#HLFunction{
    text-decoration:solid;
    font-family:'Segoe UI', 'Tahoma', 'Times New Roman', serif;
    position: relative;
    left: 160px;
    font-style: italic;
    font-size:22px;
    color: aliceblue;
}
#HLTitle{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
    font-size: 40px;
    color:aliceblue;
    border-width: 10px;
    border-left: 20px;
    border-right: 20px;
    border-style:inset;
    position: absolute;
    left: 1000px;
}
#firstHL{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    left: 230px;
    font-style: italic;
    font-size:22px;
    color: aliceblue;
}
#SecondHL{
    bottom:85px;
    position:relative;
    left:750px;
}
#secondHL{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    left: 950px;
    font-style: italic;
    font-size:22px;
    color: aliceblue;
    bottom:85px
}
.HLclass {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    left: 60px;
    text-decoration:overline underline;
    font-size:22px;
    color: aliceblue;
}
#HLImage{
    position:relative;
    left: 70px;
    top: 55px;
    width: 900px;
    height: 65px;
}