/*index.html style*/
#author {
    text-align: center;
    top: 5px;
    color:aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.containerStart {
    display: flex; 
    justify-content: center; 
    align-items: center;  
    height: auto;
}
#mainLogo {
    top: 15px;
    width: 400px;
}
#title {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: 350px;
    font-size: 20px;
    font-style: oblique;
    color: aliceblue;
}
#startButton {
    width: 200px;
    top: 420px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aliceblue;
    color:#2c215c;
    border-radius: 10px;
    border-color: aliceblue;
    border-width: 10px;
    border-style: dotted; 
    font-size: 25px;
}
/*gameRules.html style*/
#rulesTitle {
    font-size: 50px;
    color: aliceblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;

}
.containerRules {
    max-width: 600px; 
    width: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center;  
    height: auto;
}
#rules {
    color: aliceblue;
    border-style:dashed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    top: 85px;
    font-size: 20px;
}
#rulesButton {
    position: absolute;
    top: 480px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aliceblue;
    color:#2c215c;
    border-radius: 10px;
    border-color: aliceblue;
    border-width: 10px;
    border-style: dotted; 
    font-size: 40px;
}
/*inGame.html style*/